.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.foodContainer{
  display:flex;
  flex-direction: column;
  border: 0.2rem outset darkslategrey;
  border-radius: 12px;
  width: 220px;				/* width of image (px or % or auto) */
  height: 300px;	
  margin:0
}

/* .food-box{
  display: flex;

} */

.OrderBoard{
  border: 0.2rem, solid, grey;
  border-radius: 12px;
}

.OrderDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

img{
  /* border: 1px solid #ddd;
  /* border-radius: 4px; */
  padding: 5px;
  /* width: 150px; */
  border: 1px solid #ddd;	/* thickness and color of border */
  border-radius: 4px;		/* edge rounding of border */
  width: 200px;				/* width of image (px or % or auto) */
  height: 200px;	

}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  transition: transform .1s; 

  position: relative;
  text-align: center;
  color: white;
}
.column:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}